.info{
    display: none;
    justify-content: center;
    width: 100%;
}
.center{
    width: 50%;
    min-width: 300px;
}
.titleI{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}
.titleI img{
    position: absolute;
    right: 0;
    top: 0;
    margin: 25px;
    cursor: pointer;
    width: 23px;
}

.titleI h2{
    width: auto;
}
.info  p{
    text-align: left;
}