.main{
    width: 100%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.col{
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    margin: 0 4px;
    border: 2px rgba(0, 0, 0, 0.153) solid;
    font-size: 30px;
    line-height: 50px;
    font-weight: 700;

}
.row0, .row1, .row2, .row3, .row4, .row5{
    margin: 4px 0;
    display: flex;
    flex-direction: row;
    width: 3000px;
    height: 55px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.typed{
    animation-duration: 0.3s;
    animation-name: typed;
}
.green{
    background-color: rgb(106, 183, 106);
}
.orange{
    background-color: rgb(255, 200, 99);
}
.gray{
    background-color: rgb(204, 204, 204);
}
@keyframes typed{
    0%{transform: scale(1);}
    20%{transform: scale(0.9);}
    100%{transform: scale(1);}
}