.nav{
    height: 60px;
    position: relative;
width: 100%;
    box-shadow:  1px 1px 5px rgba(0, 0, 0, 0.692);
}
.mid{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    line-height: 15px;
}