.keyboard{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.centerK{
width: auto;
}
.row{
    display: flex;
    justify-content: center;
    width: 450px;
    height: auto;
    margin-top: 5px;
}
.last{
    margin-bottom: 10px;
}
.key{
    border-radius: 5px;
    width: 40px;
    margin: 0 3px;
    height: 55px;
    line-height: 55px;
    background-color:#D3D6DA;
    cursor: pointer;
    font-weight: 500;
}
.enter, .back{
    background-color:#D3D6DA;
    cursor: pointer;
    border-radius: 5px;
    width: 60px;
    margin: 0 3px;
    height: 55px;
    font-weight: 500;
}
.enter{
    line-height: 55px;
}
.back{
    display: flex;
    justify-content:center ;
    align-items: center;
}
.back img{
    padding-top: 5px;
    width: 35px;
    height: auto;
}

.green{
    background-color: rgb(106, 183, 106);
}
.orange{
    background-color: rgb(255, 200, 99);
}
.gray{
    background-color: rgb(109, 109, 109);
}